.carousel-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    gap: 10px;
    justify-content: center;
    padding-bottom: 20px;
}

.carousel-item {
   flex: 0 0 calc(33.33% - 5%);
}

/* Add media query for responsiveness */
@media screen and (max-width: 768px) {
    .carousel-item {
        flex: 0 0 calc(50% - 5%);
    }
}

@media screen and (max-width: 480px) {
    .carousel-item {
        flex: 0 0 calc(100% - 20px); 
    }
}

.carousel-image img {
    max-width: 100%;
    height: auto;
}

.carousel-content h2 {
    font-size: 18px;
    margin: 10px 0;
}

.carousel-content p {
    font-size: 14px;
    margin-bottom: 10px;
}

.carousel-content p:last-child {
    color: #0073e6;
}
